
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/credentials.json
/public/bundles/
/var/
/vendor/
.idea
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/behat.yml
